Repository he4rt/he4rtoberfest-2022, pull requests merged in 2022-10, with the labels that each got.

#2 Feat: Ex FizzBuzz
  challenges/3-fizz-buzz/readme.md
Labels: hacktoberfest-accepted

#3 desafio: converter-segundos
  challenges/6-converter-segundos/readme.md
Labels: hacktoberfest-accepted

#24 Os desafios 5 e 7 possuem número e título incorretos
  challenges/5-cobaias/readme.md
  challenges/7-jokenpo-nerd/readme.md
Labels: bug, documentation

#16 finalizando o desafio 0
  challenges/0/php/fabiosperotto/README.md
  challenges/0/php/fabiosperotto/desafio-0.php
Labels: PHP

#75 desafio 0-hello-world
  challenges/0-hello-world/TypeScript/marcosvag/HelloWorld.ts
  challenges/0-hello-world/TypeScript/marcosvag/README.md
Labels: hacktoberfest-accepted, TypeScript, Challenge 0

#62 Finalizando o desafio 0
  challenges/0-hello-world/ruby/rinyaresu/desafio-0.rb
  challenges/0-hello-world/ruby/rinyaresu/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 0

#35 Finalizando o desafio 0
  challenges/0-hello-world/go/dscamargo/README.md
  challenges/0-hello-world/go/dscamargo/main.go
Labels: hacktoberfest-accepted, Go, Challenge 0

#19 Finalizando o desafio 0
  challenges/0-hello-world/ruby/jailsonsf/desafio-0.rb
  challenges/0-hello-world/ruby/jailsonsf/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 0

#77 Finalizando o desafio 0
  challenges/0-hello-world/rust/henri1i/.gitignore
  challenges/0-hello-world/rust/henri1i/Cargo.lock
  challenges/0-hello-world/rust/henri1i/Cargo.toml
  challenges/0-hello-world/rust/henri1i/README.md
  challenges/0-hello-world/rust/henri1i/hello_world
  challenges/0-hello-world/rust/henri1i/src/main.rs
Labels: hacktoberfest-accepted, Rust, Challenge 0

#69 Finalizando o desafio 0
  challenges/0-hello-world/python/scush989898/desafio-0.py
  challenges/0-hello-world/python/scush989898/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 0

#80 Finalizando o desafio 0
  challenges/0-hello-world/python/juliax5/README.md
  challenges/0-hello-world/python/juliax5/oi.py
Labels: hacktoberfest-accepted, Python, Challenge 0

#41 Finalizando o desafio
  challenges/0-hello-world/haskell/vit0rr/README.md
  challenges/0-hello-world/haskell/vit0rr/main.hs
Labels: hacktoberfest-accepted, Challenge 0, Haskell

#57 Finalizando desafio 0
  challenges/0-hello-world/python/naygo/hello-world.py
  challenges/0-hello-world/python/naygo/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 0

#49 Challenge 0
  challenges/0-hello-world/python/emptybrain/README.md
  challenges/0-hello-world/python/emptybrain/hello.py
Labels: hacktoberfest-accepted, Python, Challenge 0

#40 Desafio 0
  challenges/0-hello-world/python/marlonmartins2/README.MD
  challenges/0-hello-world/python/marlonmartins2/helloworld.py
Labels: hacktoberfest-accepted, Python, Challenge 0

#82 Finalizando o desafio 1
  challenges/0/rust/henri1i/README.md
  challenges/1-produto-simples/rust/henri1i/Cargo.lock
  challenges/1-produto-simples/rust/henri1i/Cargo.toml
  challenges/1-produto-simples/rust/henri1i/README.md
  challenges/1-produto-simples/rust/henri1i/src/main.rs
Labels: Rust, Challenge 1

#84 Finalizado Desafio 0
  challenges/0-hello-world/go/KMarculo/HelloWorld.go
  challenges/0-hello-world/go/KMarculo/README.md
Labels: hacktoberfest-accepted, Go, Challenge 0

#87 Finalizando o desafio
  challenges/0-hello-world/javascript/Samuca-Dev/HelloWorld.js
  challenges/0-hello-world/javascript/Samuca-Dev/readme.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 0

#22 Finalizando o desafio 2
  challenges/2-idade-em-dias/ruby/jailsonsf/desafio-2.rb
  challenges/2-idade-em-dias/ruby/jailsonsf/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 2

#127 Desafio 0 finalizado!
  challenges/0-hello-world/php/luisnadachi/README.md
  challenges/0-hello-world/php/luisnadachi/helloworld.php
Labels: PHP, Challenge 0

#128 Challenge 1
  challenges/1-produto-simples/python/emptybrain/README.md
  challenges/1-produto-simples/python/emptybrain/produto_simples.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#130 Challenges/0/python/rodrigofmeneses
  challenges/0-hello-world/python/rodrigofmeneses/README.md
  challenges/0-hello-world/python/rodrigofmeneses/helloworld.py
Labels: Python, Challenge 0

#131 00 - Hello World
  challenges/0-hello-world/bash/alanneves/hello-world.sh
  challenges/0-hello-world/bash/alanneves/readme.md
Labels: Challenge 0, bash

#124 Finalizando o desafio 0
  challenges/0-hello-world/python/viniciusenari/hello.py
  challenges/0-hello-world/python/viniciusenari/readme.md
Labels: Python, Challenge 0

#123 typescript: [challenge #00] Finalizando o desafio
  challenges/0-hello-world/TypeScript/ericknathan/README.md
  challenges/0-hello-world/TypeScript/ericknathan/hello-world.ts
Labels: TypeScript, Challenge 0

#94 Finalizando o desafio 0
  challenges/0-hello-world/javascript/evertoont/HelloWorld.js
  challenges/0-hello-world/javascript/evertoont/README.md
Labels: JavaScript, Challenge 0

#91 Finalizando desafio 1
  challenges/1-produto-simples/python/naygo/produto-simples.py
  challenges/1-produto-simples/python/naygo/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 1

#37 Finalizando o desafio 1
  challenges/1-produto-simples/go/dscamargo/README.md
  challenges/1-produto-simples/go/dscamargo/main.go
Labels: hacktoberfest-accepted, Go, Challenge 1

#135 Finalizando o desafio 0
  challenges/0-hello-world/javascript/laporeon/README.md
  challenges/0-hello-world/javascript/laporeon/hello-world.js
Labels: JavaScript, Challenge 0

#140 Finalizando o desafio 1
  challenges/1-produto-simples/javascript/laporeon/README.md
  challenges/1-produto-simples/javascript/laporeon/produto.js
Labels: hacktoberfest-accepted, JavaScript, Challenge 1

#138 finalizando o desafio-0
  challenges/0-hello-world/ruby/laisacsts/README.md
  challenges/0-hello-world/ruby/laisacsts/desafio-0.rb
Labels: Ruby, Challenge 0

#43 Finalizando o desafio
  challenges/1-produto-simples/typescript/vit0rr/README.md
  challenges/1-produto-simples/typescript/vit0rr/index.ts
Labels: hacktoberfest-accepted, TypeScript, Challenge 1

#97 Finalizando o desafio 0
  challenges/0-hello-world/javascript/gabinwh/HelloWorld.js
  challenges/0-hello-world/javascript/gabinwh/readme.md
Labels: JavaScript, Challenge 0

#99 Finalizando o desafio 1
  challenges/1-produto-simples/javascript/evertoont/README.md
  challenges/1-produto-simples/javascript/evertoont/produtoSimples.js
Labels: JavaScript, Challenge 1

#142 (fix): Fixed SSH only remote add, now have https option too
  .gitignore
  README.md
Labels: hacktoberfest-accepted

#139 Finalizando o desafio 1
  challenges/1-produto-simples/python/rodrigofmeneses/README.md
  challenges/1-produto-simples/python/rodrigofmeneses/produto.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#137 Finalizando o desafio 1 (python)
  challenges/1-produto-simples/python/juliax5/README.md
  challenges/1-produto-simples/python/juliax5/produto.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#145 Challenges/0/javascript/michelwene
  challenges/0-hello-world/javascript/michelwene/0-helloWorld.js
  challenges/0-hello-world/javascript/michelwene/README.md
Labels: JavaScript, Challenge 0

#144 Desafio 0 - Hello World
  challenges/0-hello-world/TypeScript/CauaHenrique19/README.md
  challenges/0-hello-world/TypeScript/CauaHenrique19/hello-world.ts
Labels: TypeScript, Challenge 0

#118 Finalizando o desafio 2
  challenges/2-idade-em-dias/javascript/gabinwh/IdadeEmDias.js
  challenges/2-idade-em-dias/javascript/gabinwh/readme.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 2

#101 Finalizando o desafio 1
  challenges/1-produto-simples/javascript/gabinwh/ProdutoSimples.js
  challenges/1-produto-simples/javascript/gabinwh/readme.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 1

#114 Exercício 1
  challenges/0-hello-world/rust/shinobu-uwu/Cargo.toml
  challenges/0-hello-world/rust/shinobu-uwu/README.md
  challenges/0-hello-world/rust/shinobu-uwu/src/main.rs
Labels: Rust, Challenge 0

#106 Finalizando o desafio 1
  challenges/1-produto-simples/ruby/rinyaresu/desafio-1.rb
  challenges/1-produto-simples/ruby/rinyaresu/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 1

#158 Finalizando o desafio
  challenges/1-produto-simples/python/mwives/README.md
  challenges/1-produto-simples/python/mwives/produto-simples.py
Labels: Python, Challenge 1

#160 Challenges/1/python/marlonmartins2
  challenges/1-produto-simples/python/marlonmartins2/README.MD
  challenges/1-produto-simples/python/marlonmartins2/produto_simples.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#161 SidiBecker: Challenge 0
  challenges/0-hello-world/dart/SidiBecker/README.MD
  challenges/0-hello-world/dart/SidiBecker/main.dart
Labels: Challenge 0, dart

#164 Finalizando Desafio
  challenges/0-hello-world/python/lbarcat/Desafio 0.py
  challenges/0-hello-world/python/lbarcat/README.md
Labels: Python, Challenge 0

#44 Finalizando desafio 0
  challenges/0-hello-world/c#/teuso99/.gitignore
  challenges/0-hello-world/c#/teuso99/Program.cs
  challenges/0-hello-world/c#/teuso99/README.md
  challenges/0-hello-world/c#/teuso99/challenge-0.csproj
Labels: C#, Challenge 0

#166 Finalizando o desafio
  challenges/2-idade-em-dias/python/mwives/README.md
  challenges/2-idade-em-dias/python/mwives/idade-em-dias.py
Labels: hacktoberfest-accepted, Python, Challenge 2

#165 challenges/2/python/marlonmartins2
  challenges/2-idade-em-dias/python/marlonmartins2/README.MD
  challenges/2-idade-em-dias/python/marlonmartins2/idade.py
Labels: hacktoberfest-accepted, Python, Challenge 2

#169 Finalizando o desafio 0 Hello World
  challenges/0-hello-world/javascript/g101/README.md
  challenges/0-hello-world/javascript/g101/hello.js
Labels: JavaScript, Challenge 0

#171 Finalizando o desafio 0
  challenges/0-hello-world/TypeScript/joao-erik2077/README.md
  challenges/0-hello-world/TypeScript/joao-erik2077/helloWorld.ts
Labels: TypeScript, Challenge 0

#172 Finalizando o Desafio
  challenges/0-hello-world/go/Pride/0-HelloWorld.go
  challenges/0-hello-world/go/Pride/README.MD
  challenges/0-hello-world/go/Pride/go.mod
Labels: Go, Challenge 0

#174 Finalizando desafio 2
  challenges/2-idade-em-dias/javascript/michelwene/2-IdadeEmDias.js
  challenges/2-idade-em-dias/javascript/michelwene/README.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 2

#152 Desafio 1 - Produto Simples
  challenges/1-produto-simples/typescript/CauaHenrique19/.gitignore
  challenges/1-produto-simples/typescript/CauaHenrique19/README.md
  challenges/1-produto-simples/typescript/CauaHenrique19/index.ts
  challenges/1-produto-simples/typescript/CauaHenrique19/package-lock.json
  challenges/1-produto-simples/typescript/CauaHenrique19/package.json
  challenges/1-produto-simples/typescript/CauaHenrique19/tsconfig.json
Labels: hacktoberfest-accepted, TypeScript, Challenge 1

#156 Challenges/0/rust/matheusth
  challenges/0-hello-world/rust/matheusth/.gitignore
  challenges/0-hello-world/rust/matheusth/README.md
  challenges/0-hello-world/rust/matheusth/hello.rs
Labels: Rust, Challenge 0

#150 Finalizando desafio 1
  challenges/1-produto-simples/javascript/michelwene/1-produtoSimples.js
  challenges/1-produto-simples/javascript/michelwene/README.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 1

#170 Finalizando o desafio
  challenges/4-fizz-buzz/python/mwives/README.md
  challenges/4-fizz-buzz/python/mwives/fizz-buzz.py
Labels: hacktoberfest-accepted, Python, Challenge 4

#154 Finalizando o desafio 4
  challenges/4-fizz-buzz/python/viniciusenari/fizzbuzz.py
  challenges/4-fizz-buzz/python/viniciusenari/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 4

#141 Finalizando desafio 4
  challenges/4-fizz-buzz/python/naygo/fizz-buzz.py
  challenges/4-fizz-buzz/python/naygo/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 4

#108 Challenge 4
  challenges/4-fizz-buzz/python/emptybrain/README.md
  challenges/4-fizz-buzz/python/emptybrain/fizzbuzz.py
Labels: hacktoberfest-accepted, Python, Challenge 4

#95 Finalizando o desafio 4
  challenges/4-fizz-buzz/ruby/jailsonsf/desafio-4.rb
  challenges/4-fizz-buzz/ruby/jailsonsf/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 4

#32 Finalizando o desafio 4
  challenges/4-fizz-buzz/python/scush989898/README.md
  challenges/4-fizz-buzz/python/scush989898/desafio-4.py
Labels: hacktoberfest-accepted, Python, Challenge 4

#177 Finalizando desafio 0
  challenges/0-hello-world/javascript/LauanAmorim/HelloWorld.js
  challenges/0-hello-world/javascript/LauanAmorim/model.md
Labels: JavaScript, Challenge 0

#180 Finalizando o desafio 1
  challenges/1-produto-simples/python/fabiobarkoski/README.MD
  challenges/1-produto-simples/python/fabiobarkoski/challenge-1.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#107 Challenges/6/python/marlonmartins2
  challenges/6-converter-segundos/python/marlonmartins2/README.MD
  challenges/6-converter-segundos/python/marlonmartins2/converte.py
Labels: hacktoberfest-accepted, Python, Challenge 6

#143 Finalizando o desafio 0
  challenges/0-hello-world/java/gdiasb/HelloWorld.class
  challenges/0-hello-world/java/gdiasb/HelloWorld.java
  challenges/0-hello-world/java/gdiasb/README.md
Labels: Java, Challenge 0

#182 Finalizando desafio 3
  challenges/3-tipos-de-triangulo/python/naygo/readme.md
  challenges/3-tipos-de-triangulo/python/naygo/tipos-de-triangulo.py
Labels: hacktoberfest-accepted, Python, Challenge 3

#90 challenges/3/go/otsudann
  challenges/3-tipos-de-triangulo/go/otsudann/challenge.go
  challenges/3-tipos-de-triangulo/go/otsudann/readme.md
Labels: hacktoberfest-accepted, Go, Challenge 3

#54 Finalizando o desafio 4
  challenges/4-fizz-buzz/go/dscamargo/README.md
  challenges/4-fizz-buzz/go/dscamargo/main.go
Labels: hacktoberfest-accepted, Go, Challenge 4

#187 Finalizando o desafio 0 - Lua
  challenges/0-hello-world/lua/LucasVieiraS/README.md
  challenges/0-hello-world/lua/LucasVieiraS/helloworld.lua
Labels: Challenge 0, lua

#23 Finalizando o desafio 3
  challenges/3-tipos-de-triangulo/ruby/jailsonsf/desafio-3.rb
  challenges/3-tipos-de-triangulo/ruby/jailsonsf/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 3

#121 Finalizando o desafio 2
  challenges/2-idade-em-dias/ruby/rinyaresu/Gemfile
  challenges/2-idade-em-dias/ruby/rinyaresu/Gemfile.lock
  challenges/2-idade-em-dias/ruby/rinyaresu/desafio-2.rb
  challenges/2-idade-em-dias/ruby/rinyaresu/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 2

#179 Desafio 2
  challenges/2-idade-em-dias/python/naygo/idade-em-dias.py
  challenges/2-idade-em-dias/python/naygo/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 2

#190 Finalizando o desafio
  challenges/0-hello-world/javascript/ArtToledo/README.MD
  challenges/0-hello-world/javascript/ArtToledo/main.js
Labels: JavaScript, Challenge 0

#42 Finalizando o desafio 2
  challenges/2-idade-em-dias/go/dscamargo/README.md
  challenges/2-idade-em-dias/go/dscamargo/main.go
Labels: hacktoberfest-accepted, Go, Challenge 2

#104 Finalizando o desafio 6
  challenges/6-converter-segundos/ruby/jailsonsf/desafio-6.rb
  challenges/6-converter-segundos/ruby/jailsonsf/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 6

#192 Finalizando o desafio
  challenges/2-idade-em-dias/Python/lbarcat/README.md
  challenges/2-idade-em-dias/Python/lbarcat/desafio_idade.py
Labels: hacktoberfest-accepted, Python, Challenge 2

#195 Challenge 6
  challenges/6-converter-segundos/python/emptybrain/README.md
  challenges/6-converter-segundos/python/emptybrain/converter_segundos.py
Labels: hacktoberfest-accepted, Python, Challenge 6

#194 Challenge 1 in C
  challenges/1-produto-simples/C/emptybrain/README.md
  challenges/1-produto-simples/C/emptybrain/produto.c
  challenges/1-produto-simples/C/emptybrain/produto.o
Labels: hacktoberfest-accepted, Challenge 1, C

#38 Finalizando o desafio 6
  challenges/6-converter-segundos/go/dscamargo/README.md
  challenges/6-converter-segundos/go/dscamargo/main.go
Labels: hacktoberfest-accepted, Go, Challenge 6

#197 finalizando desafio 6 em php
  challenges/6-converter-segundos/php/fabiosperotto/README.md
  challenges/6-converter-segundos/php/fabiosperotto/desafio-6.php
Labels: hacktoberfest-accepted, PHP, Challenge 6

#198 Finalizando o desafio 1
  challenges/1-produto-simples/javascript/edurevsky/produto-simples.js
  challenges/1-produto-simples/javascript/edurevsky/readme.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 1

#188 Finalizando desafio 1
  challenges/1-produto-simples/javascript/LauanAmorim/ProdutoSimples.js
  challenges/1-produto-simples/javascript/LauanAmorim/model.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 1

#202 Finalizando o desafio 1
  challenges/1-produto-simples/gabigolang/Pride/1-produtoSimples.gabigolang
  challenges/1-produto-simples/gabigolang/Pride/README.MD
Labels: hacktoberfest-accepted, Challenge 1, gabigolang

#203 Finalizando o desafio 0
  challenges/0-hello-world/C/CarlosJunioor/a.exe
  challenges/0-hello-world/C/CarlosJunioor/helloworld.c
  challenges/0-hello-world/C/CarlosJunioor/readme.md
Labels: Challenge 0, C

#207 Finalizando desafio 3
  challenges/3-tipos-de-triangulo/javascript/michelwene/3-tiposDeTriangulo.js
  challenges/3-tipos-de-triangulo/javascript/michelwene/README.md
Labels: JavaScript, Challenge 3

#208 challenges/2/go/otsudann
  challenges/2-idade-em-dias/go/otsudann/challenge.go
  challenges/2-idade-em-dias/go/otsudann/readme.md
Labels: hacktoberfest-accepted, Go, Challenge 2

#209 feat: finalizado desafio 1
  challenges/1-produto-simples/php/luisnadachi/README.md
  challenges/1-produto-simples/php/luisnadachi/desafio1.php
Labels: hacktoberfest-accepted, PHP, Challenge 1

#211 Finalizando o desafio 0
  challenges/0-hello-world/dart/xandecoelho5/README.md
  challenges/0-hello-world/dart/xandecoelho5/main.dart
Labels: Challenge 0, dart

#215 Finalizando o desafio - 0
  challenges/0-hello-world/swift/godsensehl/README.md
  challenges/0-hello-world/swift/godsensehl/hello-world.swift
Labels: Challenge 0, swift

#181 Finalizando o Desafio 1
  challenges/1-produto-simples/java/gdiasb/ProdutoSimples.class
  challenges/1-produto-simples/java/gdiasb/ProdutoSimples.java
  challenges/1-produto-simples/java/gdiasb/README.md
Labels: hacktoberfest-accepted, Java, Challenge 1

#217 Hello world solved by citas
  challenges/0-hello-world/elixir/citadin/README.md
  challenges/0-hello-world/elixir/citadin/hello_world.exs
Labels: Elixir, Challenge 0

#226 Finalizando desafio 4
  challenges/4-fizz-buzz/javascript/michelwene/4-fizzBuzz.js
  challenges/4-fizz-buzz/javascript/michelwene/README.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 4

#230 Desafio 2 finalizado
  challenges/2-idade-em-dias/javascript/LauanAmorim/README.md
  challenges/2-idade-em-dias/javascript/LauanAmorim/idadeDias.js
Labels: hacktoberfest-accepted, JavaScript, Challenge 2

#236 Fixing two readme
  challenges/0-hello-world/elixir/citadin/README.md
Labels: Elixir, Challenge 0

#234 feat: desafio 2 finalizado
  challenges/2-idade-em-dias/php/luisnadachi/README.md
  challenges/2-idade-em-dias/php/luisnadachi/desafio2.php
Labels: PHP, Challenge 2

#239 Desafio 2 Finalizado - JS
  challenges/2-idade-em-dias/javascript/MatheusFC2/index.js
  challenges/2-idade-em-dias/javascript/MatheusFC2/readme.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 2

#241 desafio 0
  challenges/0-hello-world/python/200iqjules/hello_world.py
  challenges/0-hello-world/python/200iqjules/model.md
Labels: Python, Challenge 0

#242 Challenges/2/go/KMarculo
  challenges/2-idade-em-dias/go/KMarculo/README.md
  challenges/2-idade-em-dias/go/KMarculo/desafio2.go
Labels: hacktoberfest-accepted, Go, Challenge 2

#243 Challenges 2 - C
  challenges/2-idade-em-dias/C/emptybrain/README.md
  challenges/2-idade-em-dias/C/emptybrain/idade_em_dias.c
  challenges/2-idade-em-dias/C/emptybrain/idade_em_dias.o
Labels: hacktoberfest-accepted, Challenge 2, C

#244 Finalizado Desafio 4
  challenges/4-fizz-buzz/go/KMarculo/README.md
  challenges/4-fizz-buzz/go/KMarculo/desafio4.go
Labels: hacktoberfest-accepted, Go, Challenge 4

#163 SidiBecker: 2 - Idade Em Dias
  challenges/2-idade-em-dias/dart/SidiBecker/README.MD
  challenges/2-idade-em-dias/dart/SidiBecker/main.dart
Labels: hacktoberfest-accepted, Challenge 2, Dart

#116 Exercício 1
  challenges/1-produto-simples/rust/shinobu-uwu/Cargo.toml
  challenges/1-produto-simples/rust/shinobu-uwu/README.md
  challenges/1-produto-simples/rust/shinobu-uwu/src/main.rs
Labels: hacktoberfest-accepted, Rust, Challenge 1

#246 Finalizando o desafio 2
  challenges/2-idade-em-dias/rust/henri1i/Cargo.lock
  challenges/2-idade-em-dias/rust/henri1i/Cargo.toml
  challenges/2-idade-em-dias/rust/henri1i/README.md
  challenges/2-idade-em-dias/rust/henri1i/src/main.rs
Labels: Rust, Challenge 2

#250 Finalizando o desafio 4
  challenges/4-fizz-buzz/javascript/evertoont/README.md
  challenges/4-fizz-buzz/javascript/evertoont/fizzbuzz.js
Labels: JavaScript, Challenge 4

#248 feat: resolve problem produto-simples with JavaScript
  challenges/1-produto-simples/javascript/gabrielduete/README.md
  challenges/1-produto-simples/javascript/gabrielduete/index.js
Labels: hacktoberfest-accepted, JavaScript, Challenge 1

#252 Challenges/3/javascript/lauan amorim
  challenges/3-tipos-de-triangulo/LauanAmorim/README.md
  challenges/3-tipos-de-triangulo/LauanAmorim/tiposTriangulo.js
Labels: JavaScript, Challenge 3

#254 Finalizando o desafio 6
  challenges/6-converter-segundos/javascript/evertoont/README.md
  challenges/6-converter-segundos/javascript/evertoont/converterSegundos.js
Labels: JavaScript, Challenge 6

#257 Finalizando o desafio
  challenges/0-hello-world/javascript/mateusmoov/hello-world.js
  challenges/0-hello-world/javascript/mateusmoov/readme.md
Labels: JavaScript, Challenge 0

#18 Finalizando o desafio 7
  challenges/7-jokenpo-nerd/python/scush989898/README.md
  challenges/7-jokenpo-nerd/python/scush989898/desafio-7.py
Labels: Python, Challenge 7

#261 Finalizado o desafio
  challenges/0-hello-world/c#/chefemaster/Program.cs
  challenges/0-hello-world/c#/chefemaster/challenge.csproj
  challenges/0-hello-world/c#/chefemaster/readme.md
Labels: hacktoberfest-accepted, C#, Challenge 0

#259 Finalizando o desafio 6
  challenges/6-converter-segundos/python/viniciusenari/convert.py
  challenges/6-converter-segundos/python/viniciusenari/readme.md
Labels: hacktoberfest-accepted, Python, Challenge 6

#263 Finalizando o desafio 0
  challenges/0-hello-world/kotlin/marceloranngel/challenge.kt
  challenges/0-hello-world/kotlin/marceloranngel/readme.md
Labels: Challenge 0, kotlin

#260 Finalizando o desafio 2
  challenges/2-idade-em-dias/javascript/edurevsky/idade-em-dias.js
  challenges/2-idade-em-dias/javascript/edurevsky/input.js
  challenges/2-idade-em-dias/javascript/edurevsky/package-lock.json
  challenges/2-idade-em-dias/javascript/edurevsky/package.json
  challenges/2-idade-em-dias/javascript/edurevsky/readme.md
Labels: hacktoberfest-accepted, JavaScript, Challenge 2

#256 Finalizando o desafio - 2
  challenges/2-idade-em-dias/swift/godsensehl/README.md
  challenges/2-idade-em-dias/swift/godsensehl/idade-em-dias.swift
Labels: hacktoberfest-accepted, Challenge 2, Swift

#235 Desafio 6 - SidiBecker
  challenges/6-converter-segundos/dart/SidiBecker/README.MD
  challenges/6-converter-segundos/dart/SidiBecker/main.dart
Labels: hacktoberfest-accepted, Challenge 6, Dart

#266 Finalizando o desafio 0
  challenges/0-hello-world/python/pontes-guilherme/README.md
  challenges/0-hello-world/python/pontes-guilherme/helloworld.py
Labels: Python, Challenge 0

#267 Finalizando o desafio
  challenges/0-hello-world/javascript/Carrara1/README.md
  challenges/0-hello-world/javascript/Carrara1/index.js
  challenges/0-hello-world/javascript/Carrara1/package-lock.json
  challenges/0-hello-world/javascript/Carrara1/package.json
Labels: JavaScript, Challenge 0

#206 Finalizando o desafio 2
  challenges/2-idade-em-dias/typescript/joao-erik2077/README.md
  challenges/2-idade-em-dias/typescript/joao-erik2077/idadeEmDias.ts
Labels: hacktoberfest-accepted, TypeScript, Challenge 2

#270 finalização do desafio 0
  challenges/0-hello-world/javascript/heltonp21/README.md
  challenges/0-hello-world/javascript/heltonp21/helloWorld.js
Labels: JavaScript, Challenge 0

#276 Finalizando o desafio 1
  challenges/1-produto-simples/python/pontes-guilherme/README.md
  challenges/1-produto-simples/python/pontes-guilherme/produto-simples.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#281 Finalizando o desafio 0
  challenges/0-hello-world/java/azuosz/HelloWorld.class
  challenges/0-hello-world/java/azuosz/HelloWorld.java
  challenges/0-hello-world/java/azuosz/README.md
Labels: Java, Challenge 0

#282 finalizando hello
  challenges/0-hello-world/elixir/berutodo/README.md
  challenges/0-hello-world/elixir/berutodo/helloworld.exs
Labels: Elixir, Challenge 0

#227 Challenges/2/elixir/citadin
  challenges/2-idade-em-dias/elixir/citadin/README.md
  challenges/2-idade-em-dias/elixir/citadin/idade_em_dias.exs
Labels: hacktoberfest-accepted, Elixir, Challenge 2

#294 Finalizando o desafio 4 - Python
  challenges/4-fizz-buzz/python/pontes-guilherme/README.md
  challenges/4-fizz-buzz/python/pontes-guilherme/fizzbuzz.py
Labels: hacktoberfest-accepted, Python, Challenge 4

#297 finalizando o desafio 0.
  challenges/0-hello-world/python/trustindestiny/README.md
  challenges/0-hello-world/python/trustindestiny/hello-world.py
Labels: Python, Challenge 0

#298 Challenges/6/c#/chefemaster
  challenges/6-converter-segundos/c#/chefemaster/Program.cs
  challenges/6-converter-segundos/c#/chefemaster/chanllenge.csproj
  challenges/6-converter-segundos/c#/chefemaster/readme.md
Labels: hacktoberfest-accepted, C#, Challenge 6

#304 Finalizado desafio 0 - Hello World - Go - Celsonf
  challenges/0-hello-world/go/CelsonF/README.md
  challenges/0-hello-world/go/CelsonF/main.go
Labels: Go, Challenge 0

#302 Finalizando o desafio 1
  challenges/1-produto-simples/python/trustindestiny/README.md
  challenges/1-produto-simples/python/trustindestiny/produto-simples.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#45 Finalizando o desafio
  challenges/2-idade-em-dias/typescript/vit0rr/README.md
  challenges/2-idade-em-dias/typescript/vit0rr/index.ts
Labels: hacktoberfest-accepted, TypeScript, Challenge 2

#262 Challenge 0 - Scala Hello World
  challenges/0-hello-world/scala/midhatdrops/HelloWorldScala.scala
  challenges/0-hello-world/scala/midhatdrops/README.md
Labels: Challenge 0, Scala

#159 Desafio 2 - Idade em Dias
  challenges/2-idade-em-dias/typescript/CauaHenrique19/.gitignore
  challenges/2-idade-em-dias/typescript/CauaHenrique19/README.md
  challenges/2-idade-em-dias/typescript/CauaHenrique19/index.ts
  challenges/2-idade-em-dias/typescript/CauaHenrique19/package-lock.json
  challenges/2-idade-em-dias/typescript/CauaHenrique19/package.json
  challenges/2-idade-em-dias/typescript/CauaHenrique19/tsconfig.json
Labels: hacktoberfest-accepted, TypeScript, Challenge 2

#311 Finalizando desafio 0 - Python
  challenges/0-hello-world/python/Rescom/Hi.py
  challenges/0-hello-world/python/Rescom/README.md
Labels: Python, Challenge 0

#316 Finalizando o desafio 0
  challenges/0-hello-world/perl/Pride/helloworld.pl
  challenges/0-hello-world/perl/Pride/readme.md
Labels: Challenge 0, perl

#312 Finalizando Desafio 1 - Python
  challenges/1-produto-simples/python/Rescom/README.md
  challenges/1-produto-simples/python/Rescom/Simple_Product.py
Labels: hacktoberfest-accepted, Python, Challenge 1

#314 Finalizando Desafio 2 - Python
  challenges/2-idade-em-dias/python/Rescom/README.md
  challenges/2-idade-em-dias/python/Rescom/age_in_days.py
Labels: hacktoberfest-accepted, Python, Challenge 2

#178 Finalizando o desafio 1
  challenges/1-produto-simples/typescript/joao-erik2077/README.md
  challenges/1-produto-simples/typescript/joao-erik2077/produtoSimples.ts
Labels: hacktoberfest-accepted, TypeScript, Challenge 1

#162 SidiBecker: 1 - Produto Simples
  challenges/1-produto-simples/dart/SidiBecker/README.MD
  challenges/1-produto-simples/dart/SidiBecker/main.dart
Labels: Challenge 1, Dart

#307 Challenge Finalizado - 4 - Fizz Buzz - go -CelsonF
  challenges/4-fizz-buzz/go/CelsonF/main.go
  challenges/4-fizz-buzz/go/CelsonF/readme.md
Labels: hacktoberfest-accepted, Go, Challenge 4

#319 Finalizando o desafio
  challenges/0-hello-world/javascript/ellenmariadev/README.MD
  challenges/0-hello-world/javascript/ellenmariadev/hello-world.js
Labels: JavaScript, Challenge 0

#320 Challenges/0/ruby/peterjpd
  challenges/0-hello-world/ruby/peterjpd/README.md
  challenges/0-hello-world/ruby/peterjpd/desafio-0.rb
Labels: Ruby, Challenge 0

#323 challenges/0/shell/jesusgautamah
  challenges/0-hello-world/shell/jesusgautamah/README.md
  challenges/0-hello-world/shell/jesusgautamah/hello_workd.sh
Labels: Challenge 0, shell

#345 Finalizando o desafio 0
  challenges/0-hello-world/python/binjmhu/HelloWorld.py
  challenges/0-hello-world/python/binjmhu/README.md
Labels: Python, Challenge 0

#46 Finalizando o desafio
  challenges/4-fizz-buzz/typescript/vit0rr/README.md
  challenges/4-fizz-buzz/typescript/vit0rr/index.ts
Labels: hacktoberfest-accepted, TypeScript, Challenge 4

#47 Finalizando o desafio
  challenges/6-converter-segundos/typescript/vit0rr/README.md
  challenges/6-converter-segundos/typescript/vit0rr/index.ts
Labels: hacktoberfest-accepted, TypeScript, Challenge 6

#33 Finalizando o desafio 5
  challenges/5-cobaias/python/scush989898/README.md
  challenges/5-cobaias/python/scush989898/desafio-5.py
Labels: Python, Challenge 5

#98 Challenges/5/ruby/jailsonsf
  challenges/5-cobaias/ruby/jailsonsf/desafio-5.rb
  challenges/5-cobaias/ruby/jailsonsf/readme.md
Labels: hacktoberfest-accepted, Ruby, Challenge 5

#134 01 - Produto Simples
  challenges/1-produto-simples/bash/README.md
  challenges/1-produto-simples/bash/produto-simples.sh
Labels: hacktoberfest-accepted, Challenge 1, Bash

#173 Finalizando o desafio
  challenges/5-cobaias/python/mwives/README.md
  challenges/5-cobaias/python/mwives/cobaias.py
Labels: hacktoberfest-accepted, Python, Challenge 5
